@model List<ecom.minhhai.bookstore.ViewModel.WishlistViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main class="main">
      <div class="section-box">
        <div class="breadcrumbs-div">
          <div class="container">
            <ul class="breadcrumb">
              <li><a class="font-xs color-gray-1000" href="/">Home</a></li>
              <li><a class="font-xs color-gray-500" href="/shop.html">Shop</a></li>
              <li><a class="font-xs color-gray-500" href="#">Wishlist</a></li>
            </ul>
          </div>
        </div>
      </div>
      <section class="section-box shop-template">
        <div class="container">
          <div class="box-wishlist">
            <div class="head-wishlist">
              <div class="item-wishlist">
                <div class="wishlist-cb">
                </div>
                <div class="wishlist-product"><span class="font-md-bold color-brand-3">Product</span></div>
                <div class="wishlist-price"><span class="font-md-bold color-brand-3">Price</span></div>
                <div class="wishlist-action"><span class="font-md-bold color-brand-3">Action</span></div>
                <div class="wishlist-remove"><span class="font-md-bold color-brand-3">Remove</span></div>
              </div>
            </div>
            <div class="content-wishlist">
                    @if(Model.Count > 0 && Model != null)
                    {
                        foreach (var item in Model)
                        {
                            string url = Url.Action("Details", "Product", new { Alias = item.Book.Alias, id = item.Book.BookId });
                                <div class="item-wishlist">
                            <div class="wishlist-cb">
                            </div>
                            <div class="wishlist-product">
                              <div class="product-wishlist">
                                <div class="product-image"><a href="@url"><img src="~/ImageUpload/BookImage/@item.Book.Thumbnail" alt="Ecom"></a></div>
                                <div class="product-info"><a href="@url">
                                    <h6 class="color-brand-3">@item.Book.BookName </h6></a>
                                  <div class="rating"><img src="~/assets/imgs/template/icons/star.svg" alt="Ecom"><img src="~/assets/imgs/template/icons/star.svg" alt="Ecom"><img src="~/assets/imgs/template/icons/star.svg" alt="Ecom"><img src="~/assets/imgs/template/icons/star.svg" alt="Ecom"><img src="~/assets/imgs/template/icons/star.svg" alt="Ecom"><span class="font-xs color-gray-500"> (65)</span></div>
                                </div>
                              </div>
                            </div>
                            <div class="wishlist-price">
                              <h4 class="color-brand-3">$@item.Book.Price</h4>
                            </div>
                            <div class="wishlist-action"><a data-product-id="@item.Book.BookId" data-quantity="1" class="btn btn-cart font-sm-bold" href="#">Add to Cart</a></div>
                            <div class="wishlist-remove"><a data-product-id="@item.Book.BookId" class="btn btn-delete" href="#"></a></div>
                          </div>
                            
                        }
                    }
            </div>
          </div>
        </div>
      </section>
      <section class="section-box mt-90 mb-50">
        <div class="container">
          <ul class="list-col-5">
            <li>
              <div class="item-list">
                <div class="icon-left"><img src="~/assets/imgs/template/delivery.svg" alt="Ecom"></div>
                <div class="info-right">
                  <h5 class="font-lg-bold color-gray-100">Free Delivery</h5>
                  <p class="font-sm color-gray-500">From all orders over $10</p>
                </div>
              </div>
            </li>
            <li>
              <div class="item-list">
                <div class="icon-left"><img src="~/assets/imgs/template/support.svg" alt="Ecom"></div>
                <div class="info-right">
                  <h5 class="font-lg-bold color-gray-100">Support 24/7</h5>
                  <p class="font-sm color-gray-500">Shop with an expert</p>
                </div>
              </div>
            </li>
            <li>
              <div class="item-list">
                <div class="icon-left"><img src="~/assets/imgs/template/voucher.svg" alt="Ecom"></div>
                <div class="info-right">
                  <h5 class="font-lg-bold color-gray-100">Gift voucher</h5>
                  <p class="font-sm color-gray-500">Refer a friend</p>
                </div>
              </div>
            </li>
            <li>
              <div class="item-list">
                <div class="icon-left"><img src="~/assets/imgs/template/return.svg" alt="Ecom"></div>
                <div class="info-right">
                  <h5 class="font-lg-bold color-gray-100">Return &amp; Refund</h5>
                  <p class="font-sm color-gray-500">Free return over $200</p>
                </div>
              </div>
            </li>
            <li>
              <div class="item-list">
                <div class="icon-left"><img src="~/assets/imgs/template/secure.svg" alt="Ecom"></div>
                <div class="info-right">
                  <h5 class="font-lg-bold color-gray-100">Secure payment</h5>
                  <p class="font-sm color-gray-500">100% Protected</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <section class="section-box box-newsletter">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-7 col-sm-12">
              <h3 class="color-white">Subscrible &amp; Get <span class="color-warning">10%</span> Discount</h3>
              <p class="font-lg color-white">Get E-mail updates about our latest shop and <span class="font-lg-bold">special offers.</span></p>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-12">
              <div class="box-form-newsletter mt-15">
                <form class="form-newsletter">
                  <input class="input-newsletter font-xs" value="" placeholder="Your email Address">
                  <button class="btn btn-brand-2">Sign Up</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/cart.js"></script>

<script type="text/javascript">
$(document).ready(function () {
    $(".btn-delete").click(function () {
        var productId = $(this).data('product-id');
        $.ajax({
            url: '/api/wish-list/remove', 
            type: "POST",
            data: {
                productId: productId
            },
            success: function (response) {
                window.location = 'favorites.html'
            },
            error: function (error) {
                console.log(error);
            }
        });
    });

});
</script>
