@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<ecom.minhhai.bookstore.Models.CategoryModel>

@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="container-fluid">

            <p>
                <a asp-action="Create" class="btn btn-sm btn-info">Create New Category</a>
            </p>
       <table class="table table-dark table-hover" style="margin-top: 20px">
            <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Category Name</th>
      <th scope="col">Ordering</th>
      <th scope="col">Status</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody id="records_table" class="table-group-divider">
            @if(Model != null)
            {
               foreach (var item in Model)
                {
                     <tr>
                      <th scope="row">@item.CategoryId</th>
                      <td>@item.CategoryName</td>
                      <td>@item.Ordering</td>
                      <td>
                            @if (item.Published == false)
                            {
                                 <div class="d-flex align-items-center">
                                    <div class="  badge-dot badge badge-success m-r-1o"
                                    style=" background-color: red; border-radius: 50%; margin-right: 5px">
                                    </div>
                                    <div>Non Public</div>
                                </div>
                                
                            }
                            else
                            {
                                <div class="d-flex align-items-center">
                                    <div class="  badge-dot badge badge-success m-r-1o"
                                    style=" background-color: green; border-radius: 50%; margin-right: 5px">
                                </div>
                                    <div>Public</div>
                                </div>
                            }
                        </td>
                        <td>
                             <a class="btn btn-sm btn-info" asp-area="Admin" asp-controller="AdminCategory" asp-action="Details" asp-route-id="@item.CategoryId">View</a>
                             <a class="btn btn-sm btn-primary" asp-area="Admin" asp-controller="AdminCategory" asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a>
                             <a class="btn btn-sm btn-danger" asp-area="Admin" asp-controller="AdminCategory" asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
       </table>
       <hr />
      <div aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                    <a class="page-link" asp-area="Admin" asp-controller="AdminCategory" asp-action="Index" asp-route-CatId="@ViewBag.CurrentCateId" asp-route-page="@(CurrentPage - 1)">Previous</a>
                </li>
                @for (var i = 1; i <= Model.PageNumber; i++)
                {
                    <li class="page-item @(i == CurrentPage ? "active" : "")">
                        <a class="page-link" asp-area="Admin" asp-controller="AdminCategory" asp-action="Index" asp-route-CatId="@ViewBag.CurrentCateId" asp-route-page="@i">@i</a>
                    </li>
                }
                <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                    <a class="page-link" asp-area="Admin" asp-controller="AdminCategory" asp-action="Index" asp-route-CatId="@ViewBag.CurrentCateId" asp-route-page="@(CurrentPage + 1)">Next</a>
                </li>
            </ul>
        </div>

       
</div>
