@model List<ecom.minhhai.bookstore.Models.BookModel>
@if(Model != null)
            {
                foreach (var item in Model)
                {
                     <tr>
                      <th scope="row">@item.BookId</th>
                      <td>@item.BookName</td>
                      <td>@item.CategoryModel.CategoryName</td>
                      <td>@item.Price</td>
                      <td>@item.UnitsInStock</td>
                      <td>
                            @if (item.UnitsInStock >= 0)
                            {
                                <div class="d-flex align-items-center">
                                    <div class="  badge-dot badge badge-success m-r-1o"
                                    style=" background-color: green; border-radius: 50%; margin-right: 5px">
                                </div>
                                    <div>In Stock</div>
                                </div>
                            }
                            else
                            {
                                 <div class="d-flex align-items-center">
                                    <div class="badge badge-danger badge-dot m-r-1o" style=" background-color: Red; border-radius: 50%; margin-right: 5px"></div>
                                    <div>Out Stock</div>
                                </div>
                            }
                        </td>
                        <td>
                             <a class="btn btn-sm btn-info" asp-area="Admin" asp-controller="AdminBook" asp-action="Details" asp-route-id="@item.BookId">View</a>
                             <a class="btn btn-sm btn-primary" asp-area="Admin" asp-controller="AdminBook" asp-action="Edit" asp-route-id="@item.BookId">Edit</a>
                             <a class="btn btn-sm btn-danger" asp-area="Admin" asp-controller="AdminBook" asp-action="Delete" asp-route-id="@item.BookId">Delete</a>
                        </td>
                    </tr>
                }
            }
